<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="se.erikofsweden.findmyphone"
      android:versionName="1.1B" android:versionCode="7">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FindMyPhoneSettings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".LocationMessageService" />

        <receiver android:name=".FindMyPhoneSMSReceiver"> 
            <intent-filter> 
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" /> 
            </intent-filter> 
        </receiver>

<!-- 
        <receiver android:name="FindMyPhoneCheckPhoneNumber"> 
            <intent-filter> 
                <action android:name=
                    "android.intent.action.BOOT_COMPLETED" />
					<category android:name="android.intent.category.LAUNCHER" />
					</intent-filter>
        </receiver>
-->
 
        <receiver android:name=".FindMyPhoneEmailReceiver" android:enabled="true"> 
            <intent-filter>
                <action android:name="com.fsck.k9.intent.action.EMAIL_RECEIVED" />
                <data android:scheme="email" />
            </intent-filter> 
        </receiver>
    </application>
    <uses-permission android:name="android.permission.SEND_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
<!-- 
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>    
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
    />
    

</manifest> 